/New Folder/interface/nbproject/private/
/New Folder/interface/build/
/TP_interface_tessier/interface2/nbproject/private/
/TP_interface_tessier/interface2/build/
/SuperPuissance4_console/SuperPuissance4_graphique/dist/
